<h1>Mr. Cocktails</h1>

<%= cl_image_tag("kjc18vhk7rdxougme3kk.jpg", width: 600, height: 300, crop: :fill) %>


<div class="row">
  <% @cocktails.each do |cocktail| %>
    <%= cocktail.name %>
    <%= link_to 'view', cocktail_path(cocktail) %>
  <% end %>
</div>

<%= link_to 'Create a cocktail', new_cocktail_path %>
